
.hide {
	display: none;
}

body {	
	font-size: 100%;
	margin: 15px;
	color: #fff;
}

#controls img {
	width: 28px;
	height: 30px;
	background: rgba(0, 0, 0, 0);
}
ul, li {
	list-style: none;
}

ul {
	overflow: hidden;
	padding: 15px;
}

ul li {
	margin: 15px;
	float: left;
	position: relative;
}

ul li div {
	text-decoration: none;
	color: #000;
	background:#ffc;
	display: block;
	height: 150px;
	width: 150px;
	padding: 10px;
}

ul li div img {
	padding: 1px 3px;
	margin: 10px; 
	position: absolute; 
	top: 0; 
	right: 0;
}

ul li textarea {
	background: rgba(0, 0, 0, 0); /* transparent background */
	resize: none;
	padding: 3px;
	border-style: none;
}

.note-title {
	font-size: 100%;
	font-weight: bold;
	height: 20px;
	width: 70%;
}

.note-content {
	font-size:80%;
	height: 110px;
	width: 95%;
}

ul li div.color {
	background: #ffc;
}